.showcase .showcase-text {
    padding: 3rem;
  }
  
  .showcase .showcase-img-1 {
    min-height: 30rem;
    background-image: url('img/bg-showcase-1.jpg');
    background-size: cover;
  }
  .showcase .showcase-img-2 {
    min-height: 30rem;
    background-image: url('img/bg-showcase-2.svg');
    background-size: cover;
  }
  .showcase .showcase-img-3 {
    min-height: 30rem;
    background-image: url('img/bg-showcase-3.jpg');
    background-size: cover;
  }
  
  @media (min-width: 768px) {
    .showcase .showcase-text {
      padding: 7rem;
    }
  }