.howitworks {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
  
  .howitworks .howitworks-item {
    max-width: 18rem;
  }
  
  .howitworks .howitworks-item img {
    max-width: 12rem;
    -webkit-box-shadow: 0px 5px 5px 0px #adb5bd;
    box-shadow: 0px 5px 5px 0px #adb5bd;
  }